USE [CRM_Project_ver2]
GO
/****** Object:  Table [dbo].[Archivos]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archivos](
	[Id] [uniqueidentifier] NOT NULL,
	[VisitaId] [uniqueidentifier] NULL,
	[NombreArchivo] [nvarchar](100) NULL,
	[RutaArchivo] [nvarchar](100) NULL,
	[FechaSubida] [date] NULL,
 CONSTRAINT [PK_Archivos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsuntosDeContacto]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsuntosDeContacto](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MotivosDeContacto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](20) NULL,
	[Apellido] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[EmpresaId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicionIva]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicionIva](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_CondicionFrenteIVA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[Id] [uniqueidentifier] NOT NULL,
	[CodigoPostal] [nvarchar](50) NULL,
	[TipoDireccionId] [uniqueidentifier] NULL,
	[Calle] [nvarchar](150) NULL,
	[Numero] [int] NULL,
	[Ciudad] [nvarchar](150) NULL,
	[Provincia] [nvarchar](150) NULL,
	[ClienteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [uniqueidentifier] NOT NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[CUIT] [nvarchar](50) NULL,
	[CUIL] [nvarchar](50) NULL,
	[CondicionIva] [uniqueidentifier] NULL,
	[RubroId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llamados]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llamados](
	[Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[AreaId] [uniqueidentifier] NOT NULL,
	[Detalle] [nvarchar](300) NOT NULL,
	[FechaLlamado] [datetime] NOT NULL,
	[AsuntoDeContactoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Llamadas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mails]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mails](
	[Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
	[FechaMail] [datetime] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[Detalle] [nvarchar](400) NOT NULL,
	[AsuntoDeContactoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Mails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Rubros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimientos]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimientos](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[Detalle] [nvarchar](300) NULL,
	[FechaCreacion] [date] NULL,
	[Titulo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Seguimientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [nvarchar](50) NULL,
	[TipoTelefonoId] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TelefonosClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDireccion]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDireccion](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_TiposDirecciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposTelefono]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposTelefono](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposTelefono] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[RolId] [uniqueidentifier] NULL,
	[AreaId] [uniqueidentifier] NULL,
	[Apellido] [nvarchar](50) NULL,
	[Password] [nvarchar](250) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[Id] [uniqueidentifier] NOT NULL,
	[FechaProgramada] [date] NULL,
	[FechaRealizada] [date] NULL,
	[Observaciones] [nvarchar](200) NULL,
	[DireccionId] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Visitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitaUsuario]    Script Date: 24/09/2025 08:41:07 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitaUsuario](
	[UsuarioId] [uniqueidentifier] NOT NULL,
	[VisitaId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK__VisitaUsuario] PRIMARY KEY CLUSTERED 
(
	[UsuarioId] ASC,
	[VisitaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Archivos] ADD  CONSTRAINT [DF_Id_VisitasArchivos]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Areas] ADD  CONSTRAINT [DF_Id_Areas]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AsuntosDeContacto] ADD  CONSTRAINT [DF_Id_AsuntosDeContacto]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Id_Clientes]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CondicionIva] ADD  CONSTRAINT [DF_Id_CondicionIva]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Direcciones] ADD  CONSTRAINT [DF_Id_Direcciones]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Empresas] ADD  CONSTRAINT [DF_Id_Empresas]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Llamados] ADD  CONSTRAINT [DF_Id_Llamados]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Mails] ADD  CONSTRAINT [DF_Id_Mails]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Id_Roles]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Rubros] ADD  CONSTRAINT [DF_Id_Rubros]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Telefonos] ADD  CONSTRAINT [DF_Id_TelefonosClientes]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TipoDireccion] ADD  CONSTRAINT [DF_Id_TipoDireccion]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TiposTelefono] ADD  CONSTRAINT [DF_Id_TiposTelefono]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Visitas] ADD  CONSTRAINT [DF_Id_Visitas]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Archivos]  WITH CHECK ADD  CONSTRAINT [FK_Archivos_Visitas] FOREIGN KEY([VisitaId])
REFERENCES [dbo].[Visitas] ([Id])
GO
ALTER TABLE [dbo].[Archivos] CHECK CONSTRAINT [FK_Archivos_Visitas]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Empresas]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direcciones_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direcciones_Clientes]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direcciones_TiposDirecciones] FOREIGN KEY([TipoDireccionId])
REFERENCES [dbo].[TipoDireccion] ([Id])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direcciones_TiposDirecciones]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_CondicionIva] FOREIGN KEY([CondicionIva])
REFERENCES [dbo].[CondicionIva] ([Id])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_CondicionIva]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Rubros] FOREIGN KEY([RubroId])
REFERENCES [dbo].[Rubros] ([Id])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Rubros]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamadas_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamadas_Areas]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamadas_AsuntosDeContacto] FOREIGN KEY([AsuntoDeContactoId])
REFERENCES [dbo].[AsuntosDeContacto] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamadas_AsuntosDeContacto]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamadas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamadas_Clientes]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamadas_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamadas_Usuarios]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_Asuntos] FOREIGN KEY([AsuntoDeContactoId])
REFERENCES [dbo].[AsuntosDeContacto] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_Asuntos]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_Clientes]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_UsuarioDestino] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_UsuarioDestino]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Clientes]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Usuarios]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FK_Telefonos_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FK_Telefonos_Clientes]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FK_Telefonos_TiposTelefono] FOREIGN KEY([TipoTelefonoId])
REFERENCES [dbo].[TiposTelefono] ([Id])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FK_Telefonos_TiposTelefono]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Areas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD  CONSTRAINT [FK_Visitas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Visitas] CHECK CONSTRAINT [FK_Visitas_Clientes]
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD  CONSTRAINT [FK_Visitas_Direcciones] FOREIGN KEY([DireccionId])
REFERENCES [dbo].[Direcciones] ([Id])
GO
ALTER TABLE [dbo].[Visitas] CHECK CONSTRAINT [FK_Visitas_Direcciones]
GO
ALTER TABLE [dbo].[VisitaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_VisitaUsuario_Usuario] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[VisitaUsuario] CHECK CONSTRAINT [FK_VisitaUsuario_Usuario]
GO
ALTER TABLE [dbo].[VisitaUsuario]  WITH CHECK ADD  CONSTRAINT [FK_VisitaUsuario_Visita] FOREIGN KEY([VisitaId])
REFERENCES [dbo].[Visitas] ([Id])
GO
ALTER TABLE [dbo].[VisitaUsuario] CHECK CONSTRAINT [FK_VisitaUsuario_Visita]
GO
