USE [CRM_Project_ver2]
GO
/****** Object:  Table [dbo].[ArchivosVisitas]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivosVisitas](
	[Id] [uniqueidentifier] NOT NULL,
	[VisitaId] [uniqueidentifier] NULL,
	[NombreArchivo] [nvarchar](100) NULL,
	[RutaArchivo] [nvarchar](100) NULL,
	[FechaSubida] [date] NULL,
 CONSTRAINT [PK_ArchivosVisita] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AsuntosDeContacto]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AsuntosDeContacto](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MotivosDeContacto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](20) NULL,
	[Apellido] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[EmpresaId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes_Direcciones]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_Direcciones](
	[Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[DireccionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Clientes_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CondicionIva]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CondicionIva](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_CondicionFrenteIVA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direcciones]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direcciones](
	[Id] [uniqueidentifier] NOT NULL,
	[CodigoPostal] [nvarchar](50) NULL,
	[TipoDireccionId] [uniqueidentifier] NULL,
	[Calle] [nvarchar](150) NULL,
	[Numero] [int] NULL,
	[Ciudad] [nvarchar](150) NULL,
	[Provincia] [nvarchar](150) NULL,
 CONSTRAINT [PK_Direcciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [uniqueidentifier] NOT NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[CUIT] [nvarchar](50) NULL,
	[CUIL] [nvarchar](50) NULL,
	[IVACondicion] [uniqueidentifier] NULL,
	[RubroId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llamados]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llamados](
	[Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[UsuarioId] [uniqueidentifier] NULL,
	[Detalle] [nvarchar](100) NULL,
	[AreaId] [uniqueidentifier] NULL,
	[FechaLlamado] [datetime] NULL,
	[AsuntoId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Llamados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mails]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mails](
	[Id] [uniqueidentifier] NOT NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[FechaMail] [datetime] NULL,
	[UsuarioId] [uniqueidentifier] NULL,
	[Detalle] [nvarchar](200) NULL,
	[AsuntoId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Mails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rubros]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rubros](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Rubros] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seguimientos]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seguimientos](
	[Id] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NULL,
	[Detalle] [nvarchar](300) NULL,
	[FechaCreacion] [date] NULL,
	[Titulo] [nvarchar](20) NULL,
 CONSTRAINT [PK_Seguimientos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos_Clientes]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos_Clientes](
	[Id] [uniqueidentifier] NOT NULL,
	[Numero] [nvarchar](50) NULL,
	[TiposTelefonoId] [uniqueidentifier] NULL,
	[ClienteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TelefonosClientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDireccion]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDireccion](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
 CONSTRAINT [PK_TiposDirecciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposTelefono]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposTelefono](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposTelefono] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[RolId] [uniqueidentifier] NULL,
	[AreaId] [uniqueidentifier] NULL,
	[Apellido] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas](
	[Id] [uniqueidentifier] NOT NULL,
	[FechaProgramada] [date] NULL,
	[FechaRealizada] [date] NULL,
	[Observaciones] [nvarchar](200) NULL,
	[DireccionClienteId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Visitas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitas_Usuarios]    Script Date: 12/08/2025 03:29:58 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitas_Usuarios](
	[VisitaId] [uniqueidentifier] NOT NULL,
	[UsuarioId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitaId] ASC,
	[UsuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Llamados] ADD  DEFAULT (getdate()) FOR [FechaLlamado]
GO
ALTER TABLE [dbo].[ArchivosVisitas]  WITH CHECK ADD  CONSTRAINT [FK_ArchivosVisitas_Visitas] FOREIGN KEY([VisitaId])
REFERENCES [dbo].[Visitas] ([Id])
GO
ALTER TABLE [dbo].[ArchivosVisitas] CHECK CONSTRAINT [FK_ArchivosVisitas_Visitas]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Empresas]
GO
ALTER TABLE [dbo].[Clientes_Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Direcciones_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Clientes_Direcciones] CHECK CONSTRAINT [FK_Clientes_Direcciones_Clientes]
GO
ALTER TABLE [dbo].[Clientes_Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Direcciones_Direcciones] FOREIGN KEY([DireccionId])
REFERENCES [dbo].[Direcciones] ([Id])
GO
ALTER TABLE [dbo].[Clientes_Direcciones] CHECK CONSTRAINT [FK_Clientes_Direcciones_Direcciones]
GO
ALTER TABLE [dbo].[Direcciones]  WITH CHECK ADD  CONSTRAINT [FK_Direcciones_TiposDirecciones] FOREIGN KEY([TipoDireccionId])
REFERENCES [dbo].[TiposDireccion] ([Id])
GO
ALTER TABLE [dbo].[Direcciones] CHECK CONSTRAINT [FK_Direcciones_TiposDirecciones]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_IVACondicion] FOREIGN KEY([IVACondicion])
REFERENCES [dbo].[CondicionIva] ([Id])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_IVACondicion]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD  CONSTRAINT [FK_Empresas_Rubros] FOREIGN KEY([RubroId])
REFERENCES [dbo].[Rubros] ([Id])
GO
ALTER TABLE [dbo].[Empresas] CHECK CONSTRAINT [FK_Empresas_Rubros]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamados_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamados_Areas]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamados_Asuntos] FOREIGN KEY([AsuntoId])
REFERENCES [dbo].[AsuntosDeContacto] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamados_Asuntos]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamados_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamados_Clientes]
GO
ALTER TABLE [dbo].[Llamados]  WITH CHECK ADD  CONSTRAINT [FK_Llamados_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Llamados] CHECK CONSTRAINT [FK_Llamados_Usuarios]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_Asuntos] FOREIGN KEY([AsuntoId])
REFERENCES [dbo].[AsuntosDeContacto] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_Asuntos]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_Clientes]
GO
ALTER TABLE [dbo].[Mails]  WITH CHECK ADD  CONSTRAINT [FK_Mails_UsuarioDestino] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Mails] CHECK CONSTRAINT [FK_Mails_UsuarioDestino]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Clientes]
GO
ALTER TABLE [dbo].[Seguimientos]  WITH CHECK ADD  CONSTRAINT [FK_Seguimientos_Usuarios] FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Seguimientos] CHECK CONSTRAINT [FK_Seguimientos_Usuarios]
GO
ALTER TABLE [dbo].[Telefonos_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosClientes_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Telefonos_Clientes] CHECK CONSTRAINT [FK_TelefonosClientes_Clientes]
GO
ALTER TABLE [dbo].[Telefonos_Clientes]  WITH CHECK ADD  CONSTRAINT [FK_TelefonosClientes_TiposTelefono] FOREIGN KEY([TiposTelefonoId])
REFERENCES [dbo].[TiposTelefono] ([Id])
GO
ALTER TABLE [dbo].[Telefonos_Clientes] CHECK CONSTRAINT [FK_TelefonosClientes_TiposTelefono]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Areas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles1] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles1]
GO
ALTER TABLE [dbo].[Visitas]  WITH CHECK ADD  CONSTRAINT [FK_Visitas_Clientes_Direcciones] FOREIGN KEY([DireccionClienteId])
REFERENCES [dbo].[Clientes_Direcciones] ([Id])
GO
ALTER TABLE [dbo].[Visitas] CHECK CONSTRAINT [FK_Visitas_Clientes_Direcciones]
GO
ALTER TABLE [dbo].[Visitas_Usuarios]  WITH CHECK ADD FOREIGN KEY([UsuarioId])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Visitas_Usuarios]  WITH CHECK ADD FOREIGN KEY([VisitaId])
REFERENCES [dbo].[Visitas] ([Id])
GO
